html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: #CCCCCC; }

body {
  background: #2E4486;
  color: #CCCCCC;
  font-family: "Montserrat"; }

.ie {
  display: none;
  text-align: center;
  background: #CCCCCC; }
  .ie img {
    width: 300px; }
  .ie .download {
    width: 200px; }
  .ie h1 {
    width: 400px;
    margin: 0 auto;
    color: #2E4486; }
  .ie .ie-alert {
    color: white;
    position: fixed;
    height: 50px;
    background: #E03A3E;
    width: 100%;
    z-index: 1; }
    .ie .ie-alert p {
      padding-top: 10px; }

.center {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

nav {
  width: 100%;
  height: 70px;
  background: rgba(34, 55, 113, 0.3);
  position: fixed;
  z-index: 1; }

.logo {
  float: left;
  margin-top: 20px;
  margin-left: 50px; }
  .logo img {
    width: 75px; }

.navigation {
  color: #CCCCCC; }
  .navigation ul {
    list-style-type: none;
    margin-right: 5%; }
    .navigation ul li {
      display: inline;
      float: right;
      margin-right: 20px; }

header {
  background: url(../img/header.png) no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  height: 95vh; }
  header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  header .row {
    padding-top: 10%;
    margin-bottom: 20px; }
    header .row .hero img {
      width: 75%;
      max-height: 100%; }
    header .row .download {
      width: 200px; }
    header .row button {
      width: 200px;
      height: 60px;
      font-size: 2rem;
      font-weight: 200;
      text-transform: none;
      background: rgba(34, 55, 113, 0.69);
      float: right; }
    header .row .actions {
      width: 75%; }
  header h1 {
    font-size: 6.5rem;
    line-height: 85px; }

.about {
  height: 700px; }
  .about .border-right {
    border-right: 1px solid #15204C; }
  .about .spacer {
    height: 100%;
    display: block;
    color: transparent; }
  .about h3 {
    color: white; }

.blade {
  height: 700px; }
  .blade img {
    max-height: 650px; }

.header-copy {
  padding-top: 20%; }

#first, #second {
  background: rgba(34, 55, 113, 0.69); }

#how-to {
  background: #CCCCCC; }

.section-head {
  height: 150px;
  background: #CCCCCC; }
  .section-head div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .section-head h2 {
    font-size: 5rem;
    color: #2E4486; }

.with-background {
  background: url(../img/blade1.png) no-repeat center center fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  margin: 0; }

.with-background-about {
  background: url(../img/header.png) no-repeat center center fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  margin: 0; }

.tr-back {
  background: rgba(34, 55, 113, 0.69); }

i {
  font-size: 30px !important;
  color: #2E4486; }

.copy {
  color: #CCCCCC; }

.circle {
  display: block;
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 200px;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px; }
  .circle p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #2E4486;
    font-size: 4rem; }

.circle::after {
  background: transparent;
  width: 120px;
  height: 120px;
  border: 5px solid white;
  border-radius: 200px;
  content: "";
  position: absolute;
  top: -10%;
  right: -10%; }

#cta {
  width: 200px; }

.last-cta {
  height: 300px; }

footer {
  background: #5F5F5F;
  height: 300px; }
  footer .foot {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  footer img {
    width: 150px; }
  footer button {
    height: 60px;
    width: 200px;
    background: transparent;
    border: 3px solid white;
    color: white;
    -webkit-transition: .3s;
            transition: .3s;
    font-size: 1.5rem; }
    footer button:hover {
      color: gray;
      background: white;
      border: white; }

@media screen and (max-width: 1200px) {
  header .row .actions {
    width: 40%; }
    header .row .actions button {
      float: none; } }
@media screen and (max-width: 900px) {
  header h1 {
    font-size: 5.5rem; } }
@media screen and (max-width: 350px) {
  .header-copy h1 {
    font-size: 4.5rem;
    line-height: 60px; } }
@media screen and (max-width: 700px) {
  body {
    text-align: center; }

  .logo {
    margin: 0;
    margin-left: 20px; }

  nav {
    padding-top: 20px;
    position: static;
    height: 70px;
    border: none; }

  .navigation ul {
    margin: 0;
    margin-right: 10px; }
  .navigation li {
    margin: 0; }
    .navigation li:nth-child(odd) {
      display: none; }

  header {
    height: auto;
    background: url(../img/header.png);
    background: cover; }
    header .container {
      position: static;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    header h1 {
      font-size: 5.5rem; }

  .header-copy {
    padding-top: 0; }

  header img {
    display: block;
    margin: 0 auto; }
  header .row .actions {
    width: 100%; }
  header .row button {
    margin-bottom: 20px; }

  .about .spacer {
    display: none; }
  .about img {
    padding-top: 20px; }

  .with-background {
    background: url(../img/blade1_mobile.png); }

  .download {
    margin: 0 auto;
    width: 200px !important;
    margin-top: 20px;
    margin-bottom: 20px; }

  .section-head h2, .section-head i {
    font-size: 3rem; }

  .copy {
    padding-top: 0; }

  .circle {
    height: 80px;
    width: 80px;
    margin-top: 40px; }
    .circle::after {
      height: 95px;
      width: 95px; }

  .blade {
    height: auto; }
    .blade img {
      height: auto; }

  .center {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; } }
